.center-container {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35vh;
    left: 0;
    right: 0;
}

.higher > .center-container {
    margin-top: 15vh;
}

.circle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    height: 15%;
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-moz-keyframes bounceInLeft {
    from {
        opacity: 0;
        -moz-transform: translate3d(-50vw, 0, 0) rotate(0deg);
    }
    to {
        -moz-transform: translate3d(0, 0, 0) rotate(360deg);
    }
}

@-webkit-keyframes bounceInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-50vw, 0, 0) rotate(0deg);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0) rotate(360deg);
    }
}

@keyframes bounceInLeft {
    from {
        opacity: 0;
        transform: translate3d(-50vw, 0, 0) rotate(0deg);
    }
    to {
        transform: translate3d(0, 0, 0) rotate(360deg);
    }
}

.rolling {
    -webkit-animation-name: bounceInLeft, spin;
    -webkit-animation-duration: 3000ms, 4000ms;
    -webkit-animation-iteration-count: 1, infinite;
    -webkit-animation-timing-function: ease-in, linear;
    -webkit-animation-delay: 0ms, 3500ms;

    -moz-animation-name: bounceInLeft, spin;
    -moz-animation-duration: 3000ms, 4000ms;
    -moz-animation-iteration-count: 1, infinite;
    -moz-animation-timing-function: ease-in, linear;
    -moz-animation-delay: 0ms, 3500ms;

    animation-name: bounceInLeft, spin;
    animation-duration: 3000ms, 3000ms;
    animation-iteration-count: 1, infinite;
    animation-timing-function: ease-in, linear;
    animation-delay: 0ms, 3000ms;
}

@media only screen and (max-width: 767.98px) {
    .center-container {
        margin-top: 25vh;
    }

    .higher > .center-container {
        margin-top: 10vh;
    }

    .circle {
        width: 40%;
        height: 40%;
    }
}