@media only screen and (min-width: 768px) and (max-width: 991.88px) {
    .map {
        width: 100%;
        height: 25vw;
    }

    .show-lg {
        display: block;
    }

    .show-md {
        display: none;
    }

    .img-dynamic-5 {
        max-width: 100%;
        height: auto;
    }

    .img-dynamic {
        max-width: 70%;
        height: auto;
    }

    .input-group > .input-group-prepend {
        flex: 0 0 30%;
    }

    .input-group .input-group-text {
        width: 100%;
    }
}
