@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    a.navbar-brand {
        font-size: 1.3em;
        /*letter-spacing: 0.0025em;*/
    }

    #index1-1 {
        margin-top: 12%;
    }

    .row-content {
        min-height: 60vh !important;
    }

    .text-break {
        line-height: 2em;
    }

    .input-group > .input-group-prepend {
        flex: 0 0 30%;
    }

    .input-group .input-group-text {
        width: 100%;
    }

    .map {
        width: 100%;
        height: 100vw;
    }

    table > thead > tr > th {
        width: 100vw;
    }
}