* {
    font-family: "Century Gothic", "Microsoft JhengHei UI", sans-serif !important;
}

.brand {
    width: 2rem;
    height: 2rem;
}

/* 導航列標題 */
a.navbar-brand {
    font-family: adobe-garamond-pro, serif !important;
    font-weight: 700;
    font-style: normal;
    font-size: 1.8em;
    letter-spacing: 0.0025em;
    color: rgb(0, 176, 80) !important;
}

a.navbar-brand:hover {
    color: rgb(0, 176, 80) !important;
}

/* 導航列項目 */
.nav-link {
    color: black;
    cursor: pointer;
}

.nav-item.active {
    color: black;
    text-decoration: none;
    border-bottom: 0.2em solid rgb(0, 176, 80);
    vertical-align: middle !important;
}

.dropdown-menu {
    background-color: rgb(58, 146, 98);
    cursor: pointer;
    left: auto;
    position: center !important;
    right: auto;
    text-align: left;
    top: 5em;
    font-size: 0.8em;
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    color: black;
    background-color: white;
}

/* 首頁 1 圖片疊合 */
.pt-custom {
    /*margin-top: 10rem !important;*/
    /*padding-top: 4rem !important;*/
}

.img-wrapper {
    position: relative !important;
}

#index1-1 {
    position: absolute;
    top: -10%;
    left: 5%;

    width: 30%;
    height: auto;
    z-index: 2;
    border-radius: 15px;
}

#index1-2 {
    position: relative;
    width: 70%;
    height: auto;
    z-index: 1;
    border-radius: 15px;
}

#index1-3 {
    position: absolute;
    right: 5%;
    bottom: -10%;
    width: 30%;
    height: auto;
    z-index: 2;
    border-radius: 15px;
}

/* 首頁 2 內容 */
.text-break {
    font-size: 1.1em;
    line-height: 2.2em;
}

.img-content {
    width: 100%;
    height: auto;
}

/* 首頁 5 聯絡我們表單 */
.input-group > .input-group-prepend {
    flex: 0 0 20%;
}

.input-group .input-group-text {
    width: 100%;
}

.form-control {
    border-color: rgb(0, 176, 80);
}

/* 首頁 5 地圖 */
.map-wrapper {
    /*min-height: 25vw !important;*/
    /*max-height: 30vw !important;*/
}

.map {
    width: 100%;
    height: 15vw;
}

/* 地圖 */
.login-href {
    text-decoration: underline;
}

/* 顏色、字體大小 */
.color-green {
    color: rgb(58, 146, 98) !important;
}

.btn-success {
    background-color: rgb(0, 176, 80);
}

.font-size-large {
    font-size: 1.2em !important;
}

.font-size-larger {
    font-size: 1.5em !important;
}

table {
    table-layout: fixed;
    cursor: pointer;
}

table > thead > tr > th {
    width: 40vw;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn-second {
    from,
    60% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn-third {
    from,
    60% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn-first {
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in, linear;

    -moz-animation-name: fadeIn;
    -moz-animation-duration: 2000ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in, linear;

    -o-animation-name: fadeIn;
    -o-animation-duration: 2000ms;
    -o-animation-iteration-count: 1;
    -o-animation-timing-function: ease-in, linear;

    animation-name: fadeIn;
    animation-duration: 2000ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in, linear;
}

.fadeIn-second {
    -webkit-animation-name: fadeIn-second;
    -webkit-animation-duration: 3000ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in, linear;

    -moz-animation-name: fadeIn-second;
    -moz-animation-duration: 3000ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in, linear;

    -o-animation-name: fadeIn-second;
    -o-animation-duration: 3000ms;
    -o-animation-iteration-count: 1;
    -o-animation-timing-function: ease-in, linear;

    animation-name: fadeIn-second;
    animation-duration: 4000ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in, linear;
}

.fadeIn-third {
    -webkit-animation-name: fadeIn-third;
    -webkit-animation-duration: 6000ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in, linear;

    -moz-animation-name: fadeIn-third;
    -moz-animation-duration: 6000ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in, linear;

    -o-animation-name: fadeIn-third;
    -o-animation-duration: 6000ms;
    -o-animation-iteration-count: 1;
    -o-animation-timing-function: ease-in, linear;

    animation-name: fadeIn-third;
    animation-duration: 6000ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in, linear;
}

.footer-absolute {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

.show-lg {
    display: none;
}

.show-md {
    display: block;
}

.img-dynamic-5 {
    max-width: 70%;
    height: auto;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-dynamic {
    max-width: 55%;
    height: auto;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
