@media only screen and (min-width: 1024px) and (max-width: 1365.98px) {
    .mt-md-5 {
        margin-top: 1.2rem !important;
    }

    .show-lg {
        display: none;
    }

    .show-md {
        display: block;
    }

    .img-dynamic-5 {
        max-width: 75%;
        height: auto;
    }

    .img-dynamic {
        max-width: 65%;
        height: auto;
    }
}