@media only screen and (max-width: 575.98px) {
    .brand {
        width: 1.5rem;
        height: 1.5rem;
    }

    .navbar-brand {
        font-size: 1.15rem !important;
    }

    #index1-1 {
        margin-top: 12%;
    }

    .map {
        width: 100%;
        height: 100vw;
    }

    .input-group > .input-group-prepend {
        flex: 0 0 33%;
    }

    .input-group .input-group-text {
        width: 100%;
    }
}