<div class="center-container">
    <h3 class="text-center color-green">即將登場</h3>
    <h3 class="text-center color-green">Coming soon</h3>
    <img class="align-self-center circle mt-3 rolling" src="/color-ai-solution-demo/assets/brand.png">
</div>
