<nav class="navbar navbar-expand-lg bg-light fixed-top">
    <a class="navbar-brand text-center" href="/color-ai-solution-demo/">
        <img src="/color-ai-solution-demo/assets/brand.png" class="d-inline-block align-top brand align-self-center"
             alt="">
        COLOR AI SOLUTION
    </a>
    <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarCollapse" class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a id="index" class="nav-link" href="/color-ai-solution-demo/">首頁</a>
            </li>
            <li class="nav-item">
                <a id="device" class="nav-link" href="/color-ai-solution-demo/device/">設備大數據</a>
            </li>
            <li class="nav-item">
                <a id="process" class="nav-link dropdown-toggle-split" id="processDropdownMenuLink"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">製程大數據</a>
                <div class="dropdown-menu border-0" aria-labelledby="processDropdownMenuLink">
                    <a id="process-color-converter" class="dropdown-item"
                       href="/color-ai-solution-demo/process/color-converter.html">色彩空間轉換</a>
                    <a id="process-color-difference-caculator" class="dropdown-item"
                       href="/color-ai-solution-demo/process/color-difference-caculator.html">總色差計算</a>
                    <a id="process-color-fastness-prediction" class="dropdown-item"
                       href="/color-ai-solution-demo/process/color-fastness-prediction.html">水洗牢度智慧預測</a>
                    <a id="process-color-difference-prediction" class="dropdown-item"
                       href="/color-ai-solution-demo/process/color-difference-prediction.html">總色差智慧預測</a>
                    <a id="process-color-dyeing" class="dropdown-item"
                       href="/color-ai-solution-demo/process/color-dyeing.html">化驗室到現場大貨生產自動染色決策</a>
                </div>
            </li>
            <li class="nav-item">
                <a id="event" class="nav-link" href="/color-ai-solution-demo/event/">活動專區</a>
            </li>
            <li class="nav-item">
                <a id="content" class="nav-link" href="/color-ai-solution-demo/content/">計畫內容</a>
            </li>
            <li class="nav-item">
                <a id="contact" class="nav-link" href="/color-ai-solution-demo/index.html#contact-form">聯絡我們</a>
            </li>
            <li class="nav-item">
                <a id="member" class="nav-link" href="/color-ai-solution-demo/member/">會員專區</a>
            </li>
        </ul>
    </div>
</nav>
