<div class="d-flex flex-row my-md-2">
    <span class="align-self-center flex-grow-0 color-green">我想了解：</span>
    <a class="btn btn-success flex-grow-1" href="#contact-form">聯絡我們</a>
</div>
<div class="row mt-md-2 justify-content-center">
    <span class="color-green">您已經是會員了嗎？ <a class="color-green login-href" href="/color-ai-solution-demo/member/">登入</a></span>
</div>